/*	------------	MAIN SLIDER	------------	*/
.sliders.homepage{
  text-align: center;
  width: 100%;
  background-color: #000d;
  position: relative;

	.arrow{
		position: absolute;
		top: 50%;
		border-color: #fff;
		border-top: 5px solid #fff;
		border-right: 5px solid #fff;
		width: 3.5vw;
		height: 3.5vw;
		font-size: 4em;
		transition: 0.2s;
		z-index: 10;
		&:hover{
			border-top: 10px solid #fff;
			border-right: 10px solid #fff;
		}/*:hover*/
		&:first-child{
			transform: rotate(225deg);
			left: 1vw;
		}/*first-child*/
		&:nth-child(2){
			transform: rotate(45deg);
			right: 1vw;
		}/*nth-child(2)*/
	}/*.arrow*/
	.window{
		width: 90vw; 
		height: 42vw; 
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 100px;
		position: relative;
		.thumbs{
			width: 8000px;
			height: 100%;
			position: absolute;
			top: 0; 
			left: 0;
			img{
				width: 90vw;
				height: auto;
				float: left;
			}/*img*/
		}/*.thumbs*/
	}/*.window*/
	.points{
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 0;
		*{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 1px solid #ccc;
			display: inline-block;
			margin: 0 15px;
		}/*.points * */
		.active{
			background-color: #fff;
		}/*.active*/
	}/*.points*/
}/*.sliders*/

/*	------------	PRODUCT SLIDER	------------	*/
.sliders.product{
  text-align: center;
  width: 100%;
  position: relative;

	.arrow{
		position: absolute;
		top: 50%;
		border-top: 5px solid #444;
		border-right: 5px solid #444;
		width: 30px;
		height: 30px;
		transition: 0.2s;
		z-index: 10;
		&:hover{
			border-top: 10px solid #111;
			border-right: 10px solid #111;
		}/*:hover*/
		&:first-child{
			transform: rotate(225deg);
			left: -5vw;
		}/*first-child*/
		&:nth-child(2){
			transform: rotate(45deg);
			right: -5vw;
		}/*nth-child(2)*/
	}/*.arrow*/
	.window{
		width: 100%;
		height: 400px; 
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 20px;
		position: relative;
		.thumbs{
			width: 8000px;
			position: absolute;
			top: 0; 
			left: 0;
		}/*.thumbs*/
	}/*.window*/
}/*.sliders*/